.home {
  width: 100%;
  background-color: black;
  /*background: url("https://i.imgur.com/bVTWvRB.jpg") no-repeat center center fixed;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
  height: 100%;
  text-align: center;
}

#React-Player {
  /* display: table-cell; */
text-align: middle;
/* vertical-align: middle; */
position: absolute;
margin-top: -100px;
width: 750px;
/* height: 750px; */
margin: auto;
top: 0;
margin-left: auto;
/* margin-right: auto; */
/* margin: 0 auto; */
left: calc(25%);
left: 50%;
transform: translate(-50%,0)
}

.test {
  /* display: table-cell; */
text-align: middle;
/* vertical-align: middle; */
position: absolute;
margin-top: -100px;
width: 750px;
/* height: 750px; */
margin: auto;
top: 0;
margin-left: auto;
/* margin-right: auto; */
/* margin: 0 auto; */
left: calc(25%);
left: 50%;
transform: translate(-50%,0)
}



.construction .gallery-button {
  margin-top: 500px;
}

.content {
  position: relative;
  top: 296px; }

.wrapper {
  position: relative;
  width: 96%;
  margin-left: auto;
  margin-right: auto; }

.item {
  float: left;
  width: 43.715846994536%;
  position: absolute;
  left: 0px;
  margin: 0; }

.item-narrow {
  width: 28.14207650275%;
  float: left;
  position: absolute;
  left: 0px;
  margin: 0; }

.item-super-wide {
  position: absolute;
  width: 56.284153005464%; }

img {
  display: block;
  /*width: 100%;*/
  height: auto; }

.border {
  border: 6px solid transparent; }

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: .571428571em 1.857142857em 1.5em;
  color: #fff;
  cursor: pointer; }

.overlay-content {
  height: 100%;
  position: relative; }

.quickview-span, .fullproject-span {
  display: inline-block;
  margin-right: 1.25em;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-color: transparent; }
  .quickview-span:hover, .fullproject-span:hover {
    border-color: #fdd02f; }

.block-links {
  bottom: 0;
  position: absolute; }

.overlay {
  opacity: 0; }

.hover:hover .overlay {
  opacity: 0;
  /* Completely invisible. */
  transition: 1s;
  /* A 1 second transition. *
/*display: block !important;*/ }

.hover img {
  -webkit-transition: all .5s ease;
  transition: all .5s ease; }

.hover:hover img {
  -webkit-filter: brightness(50%);
  filter: brightness(50%); }

/*.hover:hover .overlay {
  display: block;
}*/
.overlay-page a {
  color: black; }

a {
  color: white;
  text-decoration: none; }

.overlay-page {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 100%;
  width: 0%;
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  right: 0;
  top: 0;
  background-color: white;
  /* Black w/opacity */
  overflow-x: hidden;
  /* Disable horizontal scroll */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */ }
  .overlay-page .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: black; }

.overlay-stuff {
  position: relative;
  top: 25%;
  /* 25% from the top */
  width: 100%;
  /* 100% width */
  text-align: center;
  /* Centered text/links */
  margin-top: 30px;
  /* 30px top margin to avoid conflict with the close button on smaller screens */
  color: black; }

.hover:hover .overlay {
  opacity: 1; }

/*@media only screen and (max-width: 980px) {
  .item {
    float: left;
    width: 50%;
    -moz-transition: opacity 300ms ease-in-out;
    -o-transition: opacity 300ms ease-in-out;
    -webkit-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
    margin: 0;
  }
}

@media only screen and (max-width: 980px) {
  .item-super-wide {
      width: 100%;
  }
}*/

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.fa-instagram {
  margin-right: 10px; }

.fa-vimeo-square {
  margin-left: 10px; }

.fa:hover {
  cursor: pointer; }

video {
  width: 100%;
  height: 100%;
  display: block; }

.icons-container {
  bottom: 0;
  text-align: center;
  width: 100%;
  margin-bottom: 35px; }

/* Extra stuff just to make the demo pretty. */
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

html {
  font-size: .625em; }

.soc {
  display: block;
  font-size: 0;
  list-style: none;
  margin: 0;
  padding: 48px;
  padding: 4.8rem;
  text-align: center; }
  .soc li {
    display: inline-block;
    margin: 12px;
    margin: 1.2rem; }
  .soc a, .soc svg {
    display: block; }
  .soc a {
    position: relative;
    height: 96px;
    height: 9.6rem;
    width: 96px;
    width: 9.6rem; }
  .soc svg {
    height: 100%;
    width: 100%; }
  .soc em {
    font-size: 14px;
    line-height: 1.5;
    margin-top: -.75em;
    position: absolute;
    text-align: center;
    top: 50%;
    right: 0;
    bottom: 0;
    left: 0; }

.icon-15:hover, .icon-27:hover{
  border-radius: 100%;
  color: #0e1a25;
  fill: #0e1a25;
  transform: scale(1.25);
  transition: background-color .5s, transform .5s ease-out; }


.icon-15 {
  color: white;
  fill: white; }
  .icon-15:hover {
    background: white; }


.icon-27 {
  color: white;
  fill: white; }
  .icon-27:hover {
    background: white; }
